$main-white: #ffffff;
$main-font-black: #000000;
$font-dark-gray: #666666;
$main-gray: #b2b2b2;
$main-blue: #2196f3;

$transparency-gray: rgba(0, 0, 0, 0.5);

$elements-height: 80px;

$desktop-smallest-media-query: "only screen and (max-width : 1040px)";
